html,
body {
  height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}



.slick-dots{
  margin-top: 20px;
  display: flex;
	justify-content: center;
	align-items: center;
	li{
		margin: 0 5px;
	}
	button{
		border: none;
		width: 21px;
		height: 21px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
    background: #D9D9D9;
	}
	li.slick-active{
		button{
      background: #E82C2B;
		}
	}
}


.prev{
  border: none;
  position: absolute;
  left: -100px;
  top: 216px;
  border-radius: 50%;
}

.next {
  border: none;
  position: absolute;
  right: -101px;
  top: 216px;
  border-radius: 50%;
}