@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

//header
.header {
  position: relative;
  &__content {
    padding: 62px 0 65px;
  }
  &__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 130%;
    max-width: 821px;
    margin-bottom: 18px;
  }
  &__title-red {
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: #E82C2B;
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  &__items {
    display: grid;
    grid-template-columns: 425px 425px;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 35px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__item-img {}
  &__item-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  &__decore-img {
    position: absolute;
    top: 63px;
    right: 0;
    z-index: -1;
  }
}

.main {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid #EBDFDF;
  &__contacts {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__icon{
    margin-right: 10px;
  }
  &__inner-col {
    display: flex
  }
  &__contacts-num {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #231F20;
  }
  &__text {
    font-size: 13px;
    line-height: 16px;
    color: #231F20;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }
  &__list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }
  &__list-link--red {
    color: #E21C21;
  }
}

.form {
  padding: 14px;
  background: #FFFFFF;
  box-shadow: 0px 0px 34px rgba(227, 227, 227, 0.25);
  border-radius: 15px;
  max-width: 855px;
  &__text {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 17px;
  }
  &__text-bold{
    font-weight: 500;
  }
  &__input {
    box-shadow: inset 0px 0px 39px rgba(180, 180, 180, 0.25);
    border-radius: 150px;
    padding: 31px 20px 31px 67px;
    border: none;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
  }
  &__input::placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #000000;
  }
  &__box-inp{
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 38px;
      bottom: 0;
      left: 44px;
      width: 17px;
      height: 17px;
      background-image: url(../img/tel-ic.svg);
      background-size: cover;
      background-repeat: no-repeat;
      }
  }
  &__btn {
    position: relative;
    background: #E82C2B;
    border-radius: 150px;
    border: none;
    padding: 29px 77px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -139px;
        width: 50px;
        height: 100%;
        background: rgba(255, 255, 255, 0.32);
        transform: translateX(10em) skewX(-30deg);
      }
  }
  
  &__checkbox {}
  &__checkbox-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #868686;
  }
  &__flex {
    display: flex;
    gap: 10px;
    margin-bottom: 26px;
    align-items: center;
  }
  &__italic {
    font-style: italic;
  }
  &__inner{
    padding: 28px 29px 22px;
    border: 1px dashed #ECECEC;
    border-radius: 15px;
  }
}
// header

//benefits
.benefits {
  margin-bottom: 140px;
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 51px;
  }
  &__item {
    max-width: 332px
  }
  &__item-img {
    height: 100px;
    margin-bottom: 40px;
  }
  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 17px;
  }
  &__item-text {
    line-height: 150%;
  }
  &__item-text-red {
    color: #E82C2B;
    font-weight: 700;
  }
}
//benefits

//services
.services {
  margin-bottom: 140px;
  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 50px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  &__item {
    max-width: 656px;
    padding: 13px 8px;
    box-shadow: 0px 0px 34px rgba(227, 227, 227, 0.15);
    border-radius: 15px;
  }
  &__item-inner {
    border: 1px dashed #ECECEC;
    border-radius: 15px; 
    padding: 17px 20px 56px;
  }
  &__item-img {
    border-radius: 15px;
    margin-bottom: 40px;
  }
  &__item-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 44px;
    max-width: 538px
  }
  &__red {
    color: #E82C2B;
  }
  &__item-text {
    max-width: 561px;
    margin-bottom: 48px;
  }
  &__list {
    background: #FCFCFC;
    border-radius: 5%;
  }
  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 18px;
    padding-right: 18px;
  }
  &__list-item:last-child{
    margin-bottom: 0;
    padding-bottom: 30px;
  }
  &__list-item:first-child{
    padding-top: 30px;
  }

  &__list-text {
    font-size: 16px;
    line-height: 140%;
    max-width: 378px;
  }
  &__list-price {
    font-weight: 700;
    font-size: 23px;
    line-height: 19px;
    color: #E82C2B;
  }
  &__text-red {
    color: #E82C2B;
    font-weight: 700;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 34px rgba(227, 227, 227, 0.15);
    border-radius: 15px;
    padding: 8px 17px;
  }
  &__info-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
    border: 1px dashed #ECECEC;
    border-radius: 15px;
    padding: 24px 30px;
  }
  &__info-img {}
  &__info-box {}
  &__info-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    max-width: 538px;
    margin-bottom: 20px;
  }
  &__info-text {
    line-height: 160%;
    max-width: 601px;
    margin-bottom: 30px;
  }
  &__info-btn {
    background: #E82C2B;
    border-radius: 150px;
    cursor: pointer; 
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    border: none;
    padding: 29px 80px;
  }
}
//services

//example
.example {
  margin-bottom: 209px;
  min-height: 912px;
  position: relative;
  z-index: 1;
  padding: 90px 0 70px;
  background: #183257;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {}
  &__title {
    margin-top: 50px;
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 40px;
    max-width: 746px;
  }
  &__text {
    color: #fff;
    max-width: 697px;
    margin-bottom: 30px;
  }
  &__text:last-child{
    margin-bottom: 0;
  }
  &__video {}
  &__video-title {
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 30px;
  }
  &__decore {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  &__video-cart {}
  &__video-img {
    cursor: pointer;
  }
}

//example

//reviews
.reviews {
  margin-bottom: 246px;
  &__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 30px;
  }
  &__inner{
    position: relative;
  }
  &__title-red {
    color: #E82C2B;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 80px;
  }
  &__slider {}
  &__item {
    max-width: 436px;
    padding: 8px 5px;
    box-shadow: 0px 0px 34px rgba(227, 227, 227, 0.15);
    border-radius: 15px;
  }
  &__item-border {
    border: 1px dashed #ECECEC;
    border-radius: 15px;
    padding: 32px 27px 40px 25px;
  }
  &__item-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__img-box{
    display: flex;
  }
  &__slider-img {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    margin-right: 20px;
  }
  &__item-title {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    margin-top: 10px;
  }
  &__item-data {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  &__stars {
    display: flex;
    margin-top: 12px;
    margin-bottom: 4px;
  }
  &__star {
    margin-right: 4px;
  }
  &__item-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 20px;
  }
  &__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    max-width: 379px
  }
}
//reviews

//about
.about {
  margin-bottom: 50px;
  position: relative;
  &__dec1 {
    position: absolute;
    top: -198px;
    right: 0;
    z-index: -1;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 46px;
    margin-bottom: 21px;
  }
  &__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 697px;
    margin-bottom: 30px;
    line-height: 160%;
  }

  &__text-inn {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  &__flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
  }
  &__dec2 {
    position: absolute;
    left: 0;
    bottom: -410px;
    z-index: -1;
  }
}
//about


//contants
.contacts {
  margin-bottom: 195px;
  &__inner {
    position: relative;
  }
  &__map {
    width: 100%;
    height: 700px;
    border: none;
  }
  &__info {
    background: #E82C2B;
    max-width: 576px;
    width: 100%;
    padding: 71px 50px 164px;
    font-style: normal;
    position: absolute;
    top: 0;
    left: 51px;
  }
  &__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 29px;
  }
  &__info-block {
    color: #fff;
    margin-bottom: 40px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  &__text--margin {
    margin-bottom: 16px;
  }
  &__link-tel,
  &__link-mail,
  &__adress {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
  }
  &__link-mail {}
  &__adress {
  }
}

.form {
  &__contacts {
    position: absolute;
    bottom: -148px;
    left: 1px;
  }
}

//contants

//footer
.footer {
  &__bottom {
    padding: 30px 0 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {}
}
//footer





@import 'media';